body {
  text-align: center;
  background-color: thistle;
}

h1 {
  color: yellow;
  font-family: Akronim;
  font-size: 100px;
  margin: 0.2em;
}

h2 {
  margin: 1em 0 0.25em;
  font-family: cursive;
  font-size: 30px;
}

h2:first-of-type {
  margin-top: 0.5em;
}

table,
tr,
td {
  border: 1px solid black;
  background-color: white;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
}

tr {
  height: 20px;
}

td {
  width: 20px;
}

input[type="number"] {
  width: 6em;
}

.title {
  border: 2px solid black;
  padding: 10px;
  background-color: purple;
}

.title:hover {
  background-color: yellow;
  color: purple;
  cursor: pointer;
}

.chooseGrid:hover {
  color: yellow;
  cursor: pointer;
}

.chooseColor:hover {
  color: yellow;
  cursor: pointer;
}

.create:hover {
  color: yellow;
  cursor: pointer;
}

#colorPicker {
  cursor: pointer;
}
#pixelCanvas {
  cursor: pointer;
}
#submitGrid {
  border-radius: 4px;
  cursor: pointer;
  width: 60px;
  height: 30px;
  border: black;
  background-color: purple;
  color: white;
  transition-duration: 0.4s;
}
#submitGrid:focus {
  outline: black auto 4px;
}

#submitGrid:hover {
  background-color: yellow;
  color: black;
}

#inputHeight {
  color: white;
  background-color: purple;
  border-radius: 4px;
  border: black;
  transition-duration: 0.4s;
}

#inputHeight:focus {
  outline: black auto 4px;
}

#inputHeight:hover {
  background-color: yellow;
  color: black;
}

#inputWidth {
  color: white;
  background-color: purple;
  border-radius: 4px;
  border: black;
  transition-duration: 0.4s;
}
#inputWidth:focus {
  outline: black auto 4px;
}

#inputWidth:hover {
  background-color: yellow;
  color: black;
}
